<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <img
      style="height: 300px"
      src="./assets/images/qrcode.png"
      alt="Centered Image"
    />
    <a href="/completed"
      ><button class="w-100 btn btn-primary btn-lg mt-5" type="button">
        Next
      </button></a
    >
  </body>
</html>
